*{
	margin:0;
	padding: 0;
}
header{
	background: green;
	line-height: 50px;
	position: fixed;
	top:0;
	width: 100%;
	text-align: center;
	color: #fff;
}
footer{
	background:red;
	line-height:50px;
	position:fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}